.common-button {
    padding: 5px 20px;
    height: 35px;
    color: #000000;
    background-color: #F4E041;
    border-radius: 80px;
}

.common-button:hover {
    background-color: #fff700;
}

.common-button--disable {
    min-width: 100px;
    height: 35px;
    cursor: default;
    background-color: #B4B4B4;
    color: #FFFFFFDE;
    border-radius: 80px;
}