* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #E5E5E5;
}

.container {
  max-width: 1170px;
  padding: 0 10px;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}


a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

label {
  cursor: pointer;
}

*:focus {
  outline: none;
}